<div class="landing-background" id="home-container">
  <div class="col-12 pt-5 px-1">
    <img class="w-100 px-5 py-2 mb-3" src="https://res.cloudinary.com/du4r5hykw/image/upload/v1567092388/main_logo.png">
  </div>
  <div class="col-12 text-center">
    <h5 class="moto mb-0">find a bar right in the middle</h5>
    <h5 class="moto my-1">between you and your friends</h5>
  </div>
  <div class="row mx-auto mt-4 justify-content-center form-parent">
    <%= render 'filter-box' %>
    <div class="search-form col-11 mt-2 mb-1">
      <%= render 'form' %>
    </div>
  </div>
  <div class="row mx-auto pt-3 mt-3">
    <%= render 'shared/footer' %>
  </div>
</div>
<div id="something"></div>

<script>
  const landingDiv = document.querySelector("#something");
  const submitBtn = document.querySelector("#address-form-submit");
  const form = document.getElementById("search-form-addresses");

  submitBtn.addEventListener("click", (event) => {
    event.preventDefault();
    <% gifs = [
      'https://thumbs.gfycat.com/AmbitiousUglyBaldeagle-mobile.mp4',
      'https://thumbs.gfycat.com/FrightenedGreenApe-mobile.mp4',
      'https://thumbs.gfycat.com/WeeForsakenBelugawhale-mobile.mp4',
      'https://thumbs.gfycat.com/UnselfishLeadingKitty-mobile.mp4',
      'https://thumbs.gfycat.com/DeepHollowHound-mobile.mp4',
      'https://thumbs.gfycat.com/BabyishUnfitArthropods-mobile.mp4'
      ] %>
    const img = document.createElement("video");
    img.setAttribute("src", '<%= gifs.sample %>');
    img.setAttribute("type", 'video/mp4');
    img.setAttribute('muted', 'true');
    img.setAttribute('playsinline', 'true');
    img.setAttribute('autoplay', 'true');
    img.setAttribute('loop', 'true');
    // img.play();
    // img.settAttribute('controls', 'true');
    img.style = "width: 100vw; height: 100vh; object-fit: cover";
    document.body.appendChild(img)
    const code = `<%= render 'gif' %>`;
    img.insertAdjacentHTML('afterend', code);
    setTimeout(() => {
      form.submit();
    }, 1000)
  });

</script>
