<div class="show-background">

  <div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>


<h5 class="text-center font-weight-bold">The Bar Roulette chose 3 bars for you!</h5>

<div id="mini-card-geral" class="row w-100">
  <% @night.bars[0..2].each do |bar| %>
    <div id="mini-card-geral" class="col-12 mt-1">
      <%= render 'bar-mini-card', bar: bar %>
    </div>
  <% end %>
</div>
  <div class="d-flex justify-content-center pr-2">
    <button class='spin-btn btn-primary'>
    <%link_to "Re-spin the wheel", night_path %>Show more</button>
  </div>
  <div class="social-btns d-flex justify-content-center">
  <%= render 'shared/social-btn' %>
  <%= render 'shared/clipboard-btn' %>
  </div>
</div>



