<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<h5 class="text-center">The Bar Roulette chose 3 bars for you!</h5>

<div class="row w-100">
  <% @bars.each do |bar| %>
    <div class="col-12 mt-1">
      <%= render 'bar-mini-card', bar: bar %>
    </div>
  <% end %>
</div>

<div>
  <%= render 'shared/clipboard-btn' %>
  <%= render 'shared/social-btn' %>
</div>


<% if @night.bars.length == 6 %>
  <% wheel_text = "Show more" if @night.page == 1 %>
  <% wheel_text = "Show previous bars" if @night.page == 2 %>

  <%= link_to wheel_text, night_update_path(@night), method: :patch, class: 'btn btn-primary' %>
<% end %>



