<h5>3 bars chosen specially for you:</h5>

<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<% @night.bars.each do |bar| %>
  <strong><%= bar.name %></strong>
  <br>
  <%= bar.address %>
  <br>
  <i><%= bar.category %></i>
  <br>
  <br>

<% end %>


<div>
  <%= render 'shared/clipboard-btn' %>
  <%= render 'shared/social-btn' %>
</div>


<button class='spin-btn'>
<%link_to "Re-spin the wheel", night_path %>Re-spin the wheel</button>

