<div id="main-bar-show">
  <div class="show-background">
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/du4r5hykw/image/upload/v1567092388/main_logo.png", id: 'nav-logo' %>
      <% end %>
      <h5 class="text-center font-weight-bold" style="font-size: 15px">CHOSE THREE BARS FOR YOU!</h5>
    </div>

    <div
    id="map"
    style="
    height: 300px;
    margin-bottom: 5px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

    <% @bars.each do |bar| %>
      <div class="my-4">
        <%= render 'bar-mini-card', bar: bar, address: @night.addresses.first %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center my-2 mx-2">
      <%= render 'shared/clipboard-btn', link: request.original_url %>
    </div>

    <div class="d-flex justify-content-center mx-2 mt-2 mb-3">
      <%= render 'respin-btn', night: @night %>
    </div>
  </div>
</div>

<div class="show-background">
  <% @bars.each do |bar| %>
    <div id="bar-<%= bar.id %>" class="">
      <div class="navbar nav-bar-show navbar-expand-sm navbar-light navbar-lewagon">
        <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/du4r5hykw/image/upload/v1567092388/main_logo.png", id: 'nav-logo' %>
        <% end %>
      </div>
      <a id="back-<%= bar.id %>" class="back-btn" href='#'> <i class="fas fa-arrow-circle-left"></i>
      </a>
      <%= render 'shared/bar-show', bar: bar %>
    </div>
  <% end %>
</div>

<% @bars.each do |bar| %>
<script>
  const bar<%= bar.id %> = document.querySelectorAll('.bar-<%= bar.id %>');

  for(let i = 0; i < bar<%= bar.id %>.length; i++) {
    bar<%= bar.id %>[i].addEventListener('click', (event) => {
      // event.preventDefault();
      console.log('clicked <%= bar.name %>');
      document.querySelector('#main-bar-show').style.display = 'none';
      document.querySelector('#bar-<%= bar.id %>').removeAttribute('style');
    });
  }


  document.querySelector('#back-<%= bar.id %>').addEventListener('click', (event) => {
    document.querySelector('#bar-<%= bar.id %>').style.display = 'none';
    document.querySelector('#main-bar-show').removeAttribute('style');
  });
</script>
<% end %>


