<div id="main-bar-show">
  <div class="show-background">
    <h5 class="text-center font-weight-bold mb-1" style="font-size: 15px">
    WOHOOO!<br>WE FOUND THE  TOP THREE BARS IN YOUR AREA!</h5>

    <div
    id="map"
    style="
    height: 300px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

    <div class="row mx-auto">
      <% @bars.each do |bar| %>
        <div class="col-12 mt-2">
          <%= render 'bar-mini-card', bar: bar, address: @night.addresses.first %>
        </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-center my-2 mx-2">
      <%= render 'shared/clipboard-btn', link: request.original_url %>
    </div>

    <div class="d-flex justify-content-center mx-2 mt-2 mb-3">
      <%= render 'respin-btn', night: @night %>
    </div>
  </div>
</div>

<div class="show-background">
  <% @bars.each do |bar| %>
    <div id="bar-<%= bar.id %>" class="pt-2">
      <a id="back-<%= bar.id %>" class="back-btn" href='#'> <i class="fas fa-arrow-circle-left"></i>
 </a>
      <%= render 'shared/bar-show', bar: bar %>
    </div>
  <% end %>
</div>

<% @bars.each do |bar| %>
<script>
  document.querySelector('.bar-<%= bar.id %>').addEventListener('click', (event) => {
    // event.preventDefault();
    console.log('clicked <%= bar.name %>');
    document.querySelector('#main-bar-show').style.display = 'none';
    document.querySelector('#bar-<%= bar.id %>').removeAttribute('style');
  });

  document.querySelector('#back-<%= bar.id %>').addEventListener('click', (event) => {
    document.querySelector('#bar-<%= bar.id %>').style.display = 'none';
    document.querySelector('#main-bar-show').removeAttribute('style');
  });
</script>
<% end %>


