<% if bar.photos.length > 0 %>
<div class="glide-div-<%= bar.id %>">
  <div data-glide-el="track" class="glide__track">
    <ul class="glide__slides">
      <% bar.photos.each do |photo| %>
        <li class="glide__slide"><%= image_tag photo, class: 'bar-show-photo' %></li>
      <% end %>
    </ul>
  </div>

  <div class="glide__bullets" data-glide-el="controls[nav]" style="display:none;">
    <% bar.photos.each_with_index do |_photo, index| %>
      <button class="glide__bullet" data-glide-dir="=<%= index %>"></button>
    <% end %>
  </div>

  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
  </div>
</div>
<% end %>


<div class="bar-infos">
  <h2><%= bar.name %></h2>
<p><%= bar.category %></p>
<p><%= bar.address %></p>
<% if bar.phone? %>
  <p><%= bar.phone? %></p>
<% end %>
<p><%= link_to "Google Maps", GoogleMapsService.gmaps_link(bar) %></p>
</div>


<div class="bar-hours"><% if bar.hours? %>
  <% weekdays = %w(Monday Tuesday Wednesday Thursday Friday Saturday Sunday) %>

  <% weekdays.each_with_index do |weekday, index| %>
    <p><%= weekday %>:
    <% if bar.all_hours(index) %>
      <%= bar.open_hours(index) %> - <%= bar.close_hours(index) %>
    <% else %>
      closed</p>
    <% end %>
  <% end %>
<% end %>
</div>


<div class="mb-3">
  <%= render 'shared/clipboard-btn' %>
</div>


