<div class="bar-show-main">
  <% if bar.photos.length > 0 %>
  <div class="glide-div-<%= bar.id %>">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides">
        <% bar.photos.each do |photo| %>
          <li class="glide__slide"><%= image_tag photo, class: 'bar-show-photo' %></li>
        <% end %>
      </ul>
    </div>

    <% if bar.photos.length > 1 %>
    <div class="glide__bullets" data-glide-el="controls[nav]" style="display:none;">
      <% bar.photos.each_with_index do |_photo, index| %>
        <button class="glide__bullet" data-glide-dir="=<%= index %>"></button>
      <% end %>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" style="top:45%" data-glide-dir="<"><</button>
      <button class="glide__arrow glide__arrow--right" style="top:45%" data-glide-dir=">">></button>
    </div>
    <% end %>

  </div>
  <% end %>


  <div class="bar-infos">
    <h2><%= bar.name %></h2>
    <p class="bar-show-category"><%= bar.category %></p>
    <p><i class="fas fa-map-pin color-main"></i>  <%= bar.address %></p>
  <% if bar.phone? %>
    <p class="bar-phone"> <i class="fas fa-phone"></i> <%= bar.phone? %> </p>
  <% end %>
  </div>

  <div class="bar-hours">
    <% if bar.hours? %>
    <h3><i class="clock fas fa-clock"></i> Hours:</h3>
    <% weekdays = %w(Monday Tuesday Wednesday Thursday Friday Saturday Sunday) %>
    <% weekdays.each_with_index do |weekday, index| %>
      <p class="weekdays"><%= weekday %>:
      <% if bar.all_hours(index) %>
      <%= bar.open_hours(index) %> - <%= bar.close_hours(index) %>
      <% else %>
        closed</p>
      <% end %>
    <% end %>
  <% end %>
  </div>

  <%= link_to "OPEN ON GOOGLE MAPS", GoogleMapsService.gmaps_link(bar), target:'_blank', class: 'map-link' %>
  <div class="d-flex justify-content-center mt-2 width-100">
    <%= render 'shared/clipboard-btn', link: "http://bar-roulette.com" + bar_path(bar) %>
  </div>
</div>

