

<div class="glide">
  <div data-glide-el="track" class="glide__track">
    <ul class="glide__slides">
      <% bar.photos.each do |photo| %>
        <li class="glide__slide"><%= image_tag photo, class: 'bar-show-photo' %></li>
      <% end %>
    </ul>
  </div>

  <div class="glide__bullets" data-glide-el="controls[nav]">
    <% bar.photos.each_with_index do |_photo, index| %>
      <button class="glide__bullet" data-glide-dir="=<%= index %>"></button>
    <% end %>
  </div>

  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
  </div>
</div>



<h2><%= bar.name %></h2>
<% if bar.phone? %>
  <p><%= bar.phone? %></p>
<% end %>
<p><%= bar.category %></p>
<p><%= bar.address %></p>
<p><%= link_to "Google Maps", GoogleMapsService.gmaps_link(bar) %></p>


<p><%= link_to "Share", '#' %></p>

<% if bar.hours? %>
  <p>Monday: <%= bar.open_hours(1) %> - <%= bar.close_hours(1) %></p>
  <p>Tuesday: <%= bar.open_hours(2) %> - <%= bar.close_hours(2) %></p>
  <p>Wednesday: <%= bar.open_hours(3) %> - <%= bar.close_hours(3) %></p>
  <p>Thursday: <%= bar.open_hours(4) %> - <%= bar.close_hours(4) %></p>
  <p>Friday: <%= bar.open_hours(5) %> - <%= bar.close_hours(5) %></p>
  <p>Saturday: <%= bar.open_hours(6) %> - <%= bar.close_hours(6) %></p>
  <p>Sunday: <%= bar.open_hours(7) %> - <%= bar.close_hours(7) %></p>
<% end %>
