<div class="share-social">

  <a href="fb-messenger://share/?link= <%= request.original_url %>" id="share-fb" target="_blank">
    <%= image_tag "facebook-icon.png", alt: "facebook" %>
  </a>
<!--
  <script>
    window.open('fb-messenger://share?link=' + encodeURIComponent(link) + '&app_id=' + encodeURIComponent(app_id));
  </script> -->

  <a href="https://wa.me/whatsappphonenumber/?text=<%= request.original_url %>" target="_blank" id="share-wp">
      <%= image_tag "whatsapp-icon.png", alt: "whatsapp" %>
  </a>

  <a href="mailto:?subject=Here are 3 choices of bar for tonight! &amp;body=Which one do you prefer? <%= request.original_url %>" target="_blank" id="share-email">
    <%= image_tag "mail-icon.png", alt: "mail" %>
  </a>


  <script>
    if (navigator.share) {
  navigator.share({
      title: 'Bar Roulette',
      text: 'Here are 3 choices of bar for tonight!',
      url: '<%= request.original_url %>',
  })
    .then(() => console.log('Successful share'))
    .catch((error) => console.log('Error sharing', error));
}

  </script>

</div>
